/* CORPO DA PÁGINA */
body {
    background-image: linear-gradient(to right, rgb(248, 221, 182), rgb(255, 206, 147), rgb(248, 221, 182));
}

header {
    background-color: #4CAF50;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.read {
    background-image: linear-gradient(to right, rgb(8, 182, 8), rgb(3, 138, 3), rgb(10, 194, 10));
    margin: -10px;
    margin-right: -95px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-image: linear-gradient(to right, rgb(109, 109, 109), rgb(139, 139, 139), rgb(102, 102, 102));
}

.flex {
    display: flex;
    /*aling-items: center; (vertical)*/
    justify-content: center;
}


/* TEXTS */

.topotitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px #00da0b;
    font-size: 44px;
    margin: 0;
}

.center {
    margin: auto;
    width: 100%;
    vertical-align: middle;
}

.titulo {
    text-align: center;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-shadow: 1px 1px #00da0b;
    font-weight: bold;
    margin-bottom: 50px;
}

.anodireita {
    position: fixed;
    right: 25px;
    top: 10px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.fontemeio {
    text-shadow: 1px 1px #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.espacamento {
    margin-top: 80px;
}




/* PROPS */

.botaomenu {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 80px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right, green, #4CAF50, green);
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow:
        0 5px #000000,
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botaomenu:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.botaoparticipantes {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 7.5px 30px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right, rgb(102, 102, 102), #353535, rgb(95, 95, 95));
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botaoparticipantes:active {
    background-color: #555555;
    box-shadow: 0 5px #424242;
    transform: translateY(4px);
  }

.botaoicone {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #0c0c0c;
    background-image: linear-gradient(to right, green, #4CAF50, green);
    border: none;
    border-radius: 15px;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botaoiconevoltar {
    margin-right: 3px;
    display: block;
    padding: 1px 7px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #0c0c0c;
    background-image: linear-gradient(to right, rgb(0, 175, 0), #009105);
    border: none;
    border-radius: 8px;
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botaoiconevoltar:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .botaocapitulo {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px 70px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #0c0c0c;
    background-image: linear-gradient(to top, rgb(19, 201, 19), #076b0b);
    border: none;
    border-radius: 8px;
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botaocapitulo:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


