body {
    margin: 0%;
}

.header {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url(assets/basetop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-family: padrao;
}

@font-face {
    font-family: 'padrao';
    src: url('assets/SegUIVar.ttf');
}


.container {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.centermid {
    align-items: center;
}

.centertext{
    text-align: center;
}



/* PROPS */

.botaolivro {
    padding: 75px 70px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: url(assets/1f4da.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: rgb(155, 155, 155);
    border: none;
    border-radius: 20px;

}

.botaolivro:active {
    transform: translateY(4px);
}

.botaoquiz {
    padding: 75px 70px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-image: url(assets/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: rgb(155, 155, 155);
    border: none;
    border-radius: 20px;

}

.botaoquiz:active {
    transform: translateY(4px);
}

.botaoparticipantes {
    margin: 7%;
    padding: 1% 15%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: darkslateblue;
    font-family: padrao;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 25px;
}

.botaoparticipantes:active {
    background-image: linear-gradient(to right, rgb(117, 117, 117), #868686, rgb(156, 156, 156));
    transform: translateY(4px);
}

.botaoicon {
    margin: 7%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: orange;
    font-family: padrao;
    font-weight: bold;
    font-size: 150%;
    border: none;
    border-radius: 50%;
}

.botaoicon:active {
    background-image: linear-gradient(to right, rgb(117, 117, 117), #868686, rgb(156, 156, 156));
    transform: translateY(4px);
}

.botaostart {
    margin: 7%;
    padding: 2% 25%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: darkslateblue;
    font-family: padrao;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 25px;
}

.botaostart:active {
    background-image: linear-gradient(to right, rgb(117, 117, 117), #868686, rgb(156, 156, 156));
    transform: translateY(4px);
}

.botaoquestion{
    background-color: orange;
    margin: 3%;
    box-sizing: unset;
    width: 40%;
    padding: 5% 20%;
    cursor: pointer;
    text-align: center;
    font-family: padrao;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    border: none;
}

.botaoquestion:active {
    background-image: linear-gradient(to right, rgb(117, 117, 117), #868686, rgb(156, 156, 156));
    transform: translateY(4px);
}

.botaoautores {
    padding: 75px 70px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    background-color: rgb(155, 155, 155);
    border: none;
    border-radius: 20px;

}

.botaoautores:active {
    transform: translateY(4px);
}


.elementox {
    display: flex;
    margin-top: 10%;
    margin-bottom: 1%;
    width: 85%;
    background-color: rgb(155, 155, 155);
    border-radius: 25px;
}